<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>Hello!</title>
</head>
<body>
Register multipart user
<!--@thymesVar id="user" type="com.andrzejpe.spring.dao.User"-->
<form method="post" th:object="${user}">
    <input type="text" th:field="*{name}" />
    <input type="password" th:field="*{password}" />
    <input type="submit" value="register" />
    <div th:if="${#fields.hasErrors('*')}" >
        <ul>
            <li th:each="error : ${#fields.errors()}" th:text="${error}">There are errors</li>
        </ul>
    </div>
</form>

</body>

</html>