div {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

#header {
    background-color: aqua;
    border: 2px solid red;
}

#content {
    background-color: blueviolet;
    border: 2px solid red;
}

#footer {
    background-color: darkolivegreen;
    border: 2px solid red;
}